body {
    background-color: black;
    color: white;
}

table, td, th {
    border: 2px solid white;
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

.top th{
    padding: 30px 300px 30px 300px;
}


#menu-side {
    width: 30%;
    padding: 300px 0px 300px 0px;
    text-align: center;
}

#content-side {
    width: 70%;
    text-align: center;
}

.bottom td{
    text-align: center;
    padding: 10px 0 10px 0;
}