body {
    background-color: black;
    color: white;
}

table, td, th {
    border: 2px solid white;
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

tfoot td{
    text-align: center;
    padding: 10px 300px 10px 300px;
}
thead th{
    text-align: center;
    padding: 30px 300px 30px 300px;
}

tbody td {
    text-align: center;
    padding: 200px 0 200px 0;
}